<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631986204393-79l6sudg279e5lf5ntp2mhgcu06ciud8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631986204393-79l6sudg279e5lf5ntp2mhgcu06ciud8</string>
	<key>API_KEY</key>
	<string>AIzaSyBwzd2pSAO6hGvcWmzuhSYmEm4sfi1otvU</string>
	<key>GCM_SENDER_ID</key>
	<string>631986204393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coliscontas</string>
	<key>PROJECT_ID</key>
	<string>colicontas-5cd5a</string>
	<key>STORAGE_BUCKET</key>
	<string>colicontas-5cd5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631986204393:ios:623a4727d412f83a6e4a78</string>
</dict>
</plist>